{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
<li><a href="/aep/customers/">Customers</a></li>
<li><a href="/aep/users">Users</a></li>
<li><a href="/aep/profiles">Profiles</a></li>
<li><a href="/aep/projects">Projects</a></li>
<li><a href="/aep/logout/">Logout</a></li>
{% endblock %}

{% block mainContainer %}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home > Edit Project</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Project Update</h2>
			<br>
			<form method="post" action="/aep/save_add_user_project">
			{% csrf_token %}
			<table>
				{% for id, name, customer in project %}
				<tr>
					<td>Project: </td><td>{{ name }}</td>
				</tr>
				<tr>
					<td>Customer: </td>
					<td>{{ customer }}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>&nbsp;</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Save" class="btn btn-success"></td>
				</tr>
				<input type="hidden" name="id" id="id" value={{ id }}>
			</table>
			{% endfor %}
			{% for id, name, username, password, email, id_profile_id in users %}
			{{ username }}
			{% endfor %}
			</form>
		</div>
	</div>
</div>
<br><br><br><br><br>
{% endblock %}