{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
    {%if profile == "admin" %}
        <li><a href="/aep/customers/">Customers</a></li>
        <li><a href="/aep/projects">Projects</a></li>
        <li><a href="/aep/profiles">Profiles</a></li>
        <li><a href="/aep/users">Users</a></li>
        <li class="active"><a href="/aep/acharts">Charts</a></li>
        <li><a href="/aep/pending_scans">Pending Scans</a></li>
        <li><a href="/aep/logout/">Logout</a></li>
     {% else %}
        <li><a href="/aep/sprints/">Sprint Registration</a></li>
        <li><a href="/aep/scan_project/">Scan Project</a></li>
        <li><a href="/aep/my_projects/">My projects</a></li>
        <li class="active"><a href="/aep/ucharts/">Charts</a></li>
        <li><a href="/aep/logout/">Logout</a></li>
     {% endif %}
{% endblock %}

{% block mainContainer %}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home > Charts</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Charts</h2>
			<br>
			<table>
                <tr>
                    <td>Project:
                        <select name="project" id="project">
                            <option value=9999>-- Choose --</option>
                            {% for project in projects %}
                                <option value={{ project.id }}>{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    <td>
                </tr>
                <tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><a href="javascript:generate('points_per_sprint')">Points Delivered X Sprint</a></td>
				</tr>
                <tr>
                    <td><a href="javascript:generate('tests_per_sprint')">Number of Tests Created X Sprint</a></td>
                </tr>
                <tr>
                    <td><a href="javascript:generate('delivered_per_estimated_per_persprint')">Points Delivered X Points Estimated X Sprint</a></td>
                </tr>
                <tr>
                    <td><a href="javascript:generate('tests_per_estimated_per_persprint')">Number of Tests Created X Points Delivered X Sprint</a></td>
                </tr>
                <tr>
                    <td><a href="javascript:generate('us_per_sprint')">Number of Stories Delivered X Sprint</a></td>
                </tr>
			</table>
		</div>
		<div class="col-md-8">
			<br>
			<div id="chart"></div>
            <div id="legend"></div>
            <canvas id="myChart" width="700" height="400"></canvas>
		</div>
	</div>
</div>
<script language="javascript">
    function generate(chart) {
    $(function() {
            var title = ""
            if (chart == "points_per_sprint")
                title = "Points delivered per Sprint"
            if (chart == "tests_per_sprint")
                title = "Tests Created per Sprint"
            if (chart == "delivered_per_estimated_per_persprint")
                title = "Points Estimated per Points Delivered per Sprint"
            if (chart == "tests_per_estimated_per_persprint")
                title = "Number of Tests Created per Points Delivered per Sprint"
            if (chart == "us_per_sprint")
                title = "Number of Stories Delivered per Sprint"
            var project = $('#project').find(":selected").val();
            document.getElementById('chart').value = chart
	      	var posting = $.get('/aep/generate_chart', { chart: chart, project: project } );
	        posting.done(function(data) {
            var ctx = document.getElementById('myChart').getContext('2d');
            json_data = JSON.parse(data)
            var barChart = new Chart(ctx).Line(json_data);
            datasets = json_data["datasets"]
            legend = "<div style='float: right'><table border='0px' >"
            for (var key in datasets) {
               legend = legend + "<tr><td><div style='background-color:" + datasets[key]["strokeColor"] + "; width:30px; height:6px'>&nbsp;</td>"
               legend = legend + "<td>" + datasets[key]["label"] + "</td></tr>"
            }
            legend = legend + "<table></div>"
            $('#chart').html(title);
            $('#legend').html(legend);
	        });
	      });
	}
</script>
<br><br><br><br><br>
{% endblock %}