{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
<li class="active"><a href="/vlm/">Home</a></li>
<li><a href="/aep/scan_project/">Scan Project</a></li>
<li><a href="/aep/report/{{company_id}}">Reports</a></li>
<li><a href="/aep/contact/">Contact</a></li>
<li><a href="/aep/logout/">Logout</a></li>
{% endblock %}

{% block mainContainer %}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home</li>
		</ol>
	</div>
	<div class="row">
		<div class="jumbotron">
			<h2>Welcome to the Agile Estimates Support Portal</h2>
			<p class="lead">Please use the menu bar to operate the system</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Welcome back, {{ name }}!</h3>
			<p>Your last login was on <strong>{{ userInfo.last_login }}</strong></p>
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}