<textarea rows="20" id="log" name="log" cols="100">
{% if message == 'Success' %}
    {% for l in log %}{{ l }}
    {% endfor %}
    {% for c in cards %}    {{ c.url }}
    {% endfor %}
    Metrics Collected:

        Total Points Delivered: {{ total_points_delivered }}
        Total Unit Tests created {{ total_unit_tests }}

{% else %}
    {% if message == 'Error' %}
        {% for l in log %}{{ l }}
        {% endfor %}
    {% else %}
        {{ message }}
    {% endif %}
{% endif %}

</textarea>