{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support{% endblock %}

{% block menuItems %}

{% endblock %}

{% block mainContainer %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p class="lead">Welcome to Agile Estimates Support</p>
			<form method="post" action="/aep/home">
			{% csrf_token %}
				<div class="form-group">
	                <table cellspacing="2" cellpadding="2">
                	<tr>
		                <td><label for="id_old_password" class="col-sm-2 control-label">Username: </label></td>
		                <td><input type="text" name="username" id="username"></td>
		            </tr>
                	<tr>
                		<td><label for="id_old_password" class="col-sm-2 control-label">Password: </label></td>
                		<td><input type="password" name="password" id="password"></td>
                	</tr>
                	<tr>
                		<td></td>
                		<td><button type="submit" class="btn btn-success">Login</button></td>
                	</tr>
                </table>
	            </div>
				<input type="hidden" name="next" value="/aep" />
			</form>
		</div>
		<div class="col-md-6">
			<p class="lead">For assistance, please e-mail us</p>
			<address>
				<strong>Support:</strong><br>
				<a href="mailto:marcelocure@gmail.com">marcelocure@gmail.com</a><br>
				<abbr title="Phone">P:</abbr> (51) 9657-5167
			</address>
			
		</div>
	</div>
</div>
{% endblock %}