{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
<li><a href="/aep/sprints/">Sprint Registration</a></li>
<li class="active"><a href="/aep/scan_project/">Scan Project</a></li>
<li><a href="/aep/my_projects/">My projects</a></li>
<li><a href="/aep/ucharts/">Charts</a></li>
<li><a href="/aep/logout/">Logout</a></li>
{% endblock %}

{% block mainContainer %}

<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home > Scan Project</li>
		</ol>
	</div>
	<div class="col-md-6">
		<h2>Scan Project</h2>
		<br>
		{% csrf_token %}
		<table width="100%">
			<tr>
				<td>Project: </td>
				<td><select name="project" id="project">
				<option value=9999>-- Choose --</option>
				{% for id, name in projects %}
					<option value={{ id }}>{{ name }}</option>
				{% endfor %}
				</td>
				<td align="right">
					<input type="submit" value="Run Scan" class="btn btn-success" id="scanbutton" name="scanbutton">
				</td>
			<tr>
			<tr>
				<td valign="top">Log: </td><td colspan="3"><div id="log"><textarea rows="20" id="log" name="log" cols="100"></textarea></div></td>
			</tr>
		</table>
	</div>
</div>
<script language="javascript">
	$(function() {
	    $( "input[type=submit], a, button" )
	      .button()
	      .click(function( event ) {
	      		var posting = $.get('/aep/scan_process',  { project_id: $('#project').val() } );
	        posting.done(function(data) {
	          $('#log').html(data);
	        });
	      });
	});
</script>
<br><br><br><br><br>
{% endblock %}