{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
<li><a href="/aep/sprints/">Sprint Registration</a></li>
<li><a href="/aep/scan_project/">Scan Project</a></li>
<li><a href="/aep/my_projects/">My projects</a></li>
<li><a href="/aep/charts/">Charts</a></li>
<li><a href="/aep/logout/">Logout</a></li>
{% endblock %}

{% block mainContainer %}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home</li>
		</ol>
	</div>
	<div class="row">
		<div class="jumbotron">
			<h2>Welcome to the Agile Estimates Support Portal</h2>
			<p class="lead">Please use the menu bar to operate the system</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Welcome back, {{ username }}!</h3>
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}