{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Agile Estimates Support - Home{% endblock %}

{% block menuItems %}
<li><a href="/aep/customers/">Customers</a></li>
<li><a href="/aep/projects">Projects</a></li>
<li><a href="/aep/profiles">Profiles</a></li>
<li class="active"><a href="/aep/users">Users</a></li>
<li><a href="/aep/acharts">Charts</a></li>
<li><a href="/aep/pending_scans">Pending Scans</a></li>
<li><a href="/aep/logout/">Logout</a></li>
{% endblock %}

{% block mainContainer %}
<script type="text/javascript">
	function validate_password() {
		pwd = document.getElementById("password").value;
		conf_pwd = document.getElementById("confirm_password").value;
		if (pwd != conf_pwd) {
			document.getElementById("pwd1").innerHTML = "<p>Passwords don't match</p>";
		} else {
			createuserform.submit();
		}
	}
</script>
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">Home > Users</li>
		</ol>
	</div>
	<div class="row">	
		<div class="col-md-6">
			<h2>User Registration</h2>
			<br>
			<form id="createuserform" name="createuserform" method="post" action="/aep/save_user"> 
			{% csrf_token %}
			<table>
				<tr>
					<td>Name: </td><td><input type="text" name="name" id="name" size="30"></td>
				</tr>
				<tr>
					<td>Username: </td><td><input type="text" name="username" id="username" autocomplete="off"></td>
				</tr>
				<tr>
					<td>Password: </td><td><input type="password" name="password" id="password" autocomplete="off"> <div id="pwd1"></div></td>
				</tr>
				<tr>
					<td>Confirm Password: </td><td><input type="password" name="confirm_password" id="confirm_password" autocomplete="off"></td>
				</tr>
				<tr>
                <td>E-mail: </td><td><input type="text" name="email" size="40" id="email" autocomplete="off"></td>
				</tr>
				<tr>
					<td>Profile: </td>
					<td><select name="profile" id="profile">
					<option value=9999>-- Choose --</option>
					{% for id, name in profiles %}
						<option value={{ id }}>{{ name }}</option>
					{% endfor %}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>&nbsp;</td>
				</tr>
				<tr>
					<td></td>
					<td><button type="button" class="btn btn-success" onClick="javascript:validate_password()">Save</button></td>
				</tr>
			</table>
			</form>
		</div>
		<div class="col-md-6">
			<h2>Users</h2>
			<br>
			<table border="1" width="100%" cellpadding="2" cellspacing="2">
				<tr bgcolor="00B2EE">
					<td><b>Id</b></td>
					<td><b>Name</b></td>
					<td><b>Username</b></td>
					<td><b>E-mail</b></td>
					<td><b>Profile</b></td>
					<td><b>Actions</b></td>
				</tr>

				{% for id, name, username, password, email, id_profile_id in users %}
			    	<tr>
			    		<td>{{ id }}</td>
			    		<td>{{ name }}</td>
			    		<td>{{ username }}</td>
			    		<td>{{ email }}</td>
			    		<td>{{ id_profile_id }}</td>
			    		<td align="center">
			    			<a href="/aep/delete_user/{{id}}"><img src="{% static 'admin/img/icon_deletelink.gif' %}">
			    			</a>&nbsp;&nbsp;&nbsp;
			    			<a href="/aep/edit_user/{{id}}"><img src="{% static 'admin/img/icon_changelink.gif' %}"></a>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
		</div>
	</div>
</div>
<br><br><br><br><br>
{% endblock %}